<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Highlight Effect</title>
    <!-- 引入 ECharts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <style>
        /* 设置容器的高度 */
        #chart-container {
            width: 780px;
            height: 780px;
        }

        #chart-time {
            width: 780px;
            height: 780px;
        }
    </style>
</head>
<body>
<!-- 创建一个容器来放置图表 -->
<div style="display: flex">
    {#    地图可视化#}
    <div id="chart-container"></div>
    {#    时间轴#}
    <div id="chart-time"></div>
</div>
<script>
    {#import ms from "./wrapper-b7460963-69b64cfb";#}
    class Queue { 
        //用于存储队列中元素的数据结构
        items = []; 
        //队列添加元素
        enqueue(element){ 
            this.items.push(element); 
        }; 
        //队列移除元素
        dequeue(){ 
            return this.items.shift(); 
        };
        //查看队列头元素
        front(){ 
            return this.items[0]; 
        };
        get(i){
            return this.items[i];
        }
        //检查队列的长度
        size(){ 
            return this.items.length; 
        };
        //打印队列元素
        print(){ 
            console.log(this.items.toString()); 
        }; 
    } 


    var zoom = 2
    var center = [-40, -80]
    const currentTimeRange = new Date("2023-04-12 15:59:56.600");
    var dataLoaded = false;
    var pause = false;
    var queue = new Queue();
    var tempqueue = new Queue();
    {#getDataByYear(currentTimeRange);#}

    // 使用 fetch API 读取 GeoJSON 文件
    const myChart = echarts.init(document.getElementById('chart-container'), 'dark');

    // 定义一个函数，用于加载 GeoJSON 文件并将其注册到 ECharts 中
    function loadGeoJsonAndRegisterMap(filename, mapName) {
        return fetch(`map/${filename}`)
            .then(response => response.json())
            .then(geojsonData => {
                // 将 GeoJSON 数据直接绘制在地图上
                echarts.registerMap(mapName, geojsonData);
                console.log('Loaded:', mapName);
                getDataByYear(currentTimeRange);
            });
    }

    let dataset = [];
    let dataset1 = [];
    let dataset2 = [];
    let dataset3 = [];
    let dataset4 = [];
    let dataset5 = [];
    let dataset6 = [];
    let dataset7 = [];
    let dataset8 = [];
    let dataset9 = [];
    let datas = [];
    // 定义一个函数,根据输入的时间范围,输出dataset的子集,时间的格式为2023-04-12 15:59:57.699749
    // 输入的时间范围要是js的Date对象
    function getDatasetByTimeRange(startTime, endTime) {
        let result = [];
        for (let row of datas) {
            let time = new Date(row[4]);
            if (time >= startTime && time <= endTime) {
                result.push(row);
            } else if (time > endTime) {
                break;
            }
        }
        return result;
    }

    function getData(){
        if(queue.size() <= 10){
            getDataByYear(currentTimeRange);
            return queue.dequeue();
        }
        else{
            return queue.dequeue();
        }
    }

    function getDataByYear(time) {
        timea = new Date()
        timea.setTime(time.getTime() + 8*60*60*1000)
        console.log(timea.toISOString().slice(0, 23).replace('T', ' '));
        fetch(`data/${timea.toISOString().slice(0, 23)}`)
            .then(response => {
                {#console.log(response.text());#}
                return response.json()
            })
            .then(Data => {
                {#console.log(Data);#}
                let regex = /(".*?"|[^,]+)(?=,|$)/g;
                for(var i=0;i<10;i++){
                    if(Data[i.toString()].length === 0)
                        break;
                    {#tempqueue.enqueue(Data[i.toString()]);#}
                    {#console.log(tempqueue.get(i));#}
                    const seriesData = Data[i.toString()].map(function (row) {
                        var simpleSize = zoom;
                        var color = 'white';
                        switch (row['type']) {
                            case 1:
                                simpleSize = 5 * zoom;
                                color = 'red';
                                break;
                            case 2:
                                simpleSize = 4 * zoom;
                                color = 'blue';
                                break;
                            case 3:
                                simpleSize = 4 * zoom;
                                color = 'green';
                                break;
                            case 4:
                                simpleSize = 6 * zoom;
                                color = 'yellow';
                                break;
                            case 5:
                                simpleSize = 6 * zoom;
                                color = 'purple';
                                break;
                            case 6:
                                simpleSize = 6 * zoom;
                                color = 'orange';
                                break;
                        }
                        return {
                            value: [(parseFloat(row['x']) + 40) * zoom, (parseFloat(row['y']) + 80) * zoom],
                            type: row['type'],
                            velocity: row['velocity'],
                            symbolSize: simpleSize,
                            itemStyle: {
                                color: color
                            }
                        };
                    });
                    {#console.log(seriesData);#}
                    queue.enqueue(seriesData);
                    {#var rows = tempqueue.get(i).split('\r\n');#}
                }
                return queue;
            });
        currentTimeRange.setTime(currentTimeRange.getTime() + 1000);
        
    }

    async function loadDataset(callback) {
        try {
            let response = await fetch(`output0.csv`);
            let data = await response.text();
            response = null;
            // 处理第一个CSV文件的数据...
            // 将CSV数据转换为数组
            let regex = /(".*?"|[^,]+)(?=,|$)/g;
            let rows = data.split('\n');
            for (let row of rows) {
                let fields = row.match(regex);
                dataset.push(fields);
            }
            rows = null;
            // 删除第一行,因为第一行是列名
            dataset.shift();

            let response1 = await fetch(`output1.csv`);
            let data1 = await response1.text();
            response1 = null;
            // 处理第一个CSV文件的数据...
            // 将CSV数据转换为数组
            let regex1 = /(".*?"|[^,]+)(?=,|$)/g;
            let rows1 = data1.split('\n');
            for (let row of rows1) {
                let fields = row.match(regex1);
                dataset1.push(fields);
            }
            rows1 = null;
            // 删除第一行,因为第一行是列名
            dataset1.shift();

            let response2 = await fetch(`output2.csv`);
            let data2 = await response2.text();
            response2 = null;
            // 处理第一个CSV文件的数据...
            // 将CSV数据转换为数组
            let regex2 = /(".*?"|[^,]+)(?=,|$)/g;
            let rows2 = data2.split('\n');
            for (let row of rows2) {
                let fields = row.match(regex2);
                dataset2.push(fields);
            }
            rows2 = null;
            // 删除第一行,因为第一行是列名
            dataset2.shift();

            let response3 = await fetch(`output3.csv`);
            let data3 = await response3.text();
            response3 = null;
            // 处理第一个CSV文件的数据...
            // 将CSV数据转换为数组
            let regex3 = /(".*?"|[^,]+)(?=,|$)/g;
            let rows3 = data3.split('\n');
            for (let row of rows3) {
                let fields = row.match(regex3);
                dataset3.push(fields);
            }
            rows3 = null;
            // 删除第一行,因为第一行是列名
            dataset3.shift();

            let response4 = await fetch(`output4.csv`);
            let data4 = await response4.text();
            response4 = null;
            // 处理第一个CSV文件的数据...
            // 将CSV数据转换为数组
            let regex4 = /(".*?"|[^,]+)(?=,|$)/g;
            let rows4 = data4.split('\n');
            for (let row of rows4) {
                let fields = row.match(regex4);
                dataset4.push(fields);
            }
            rows4 = null;
            // 删除第一行,因为第一行是列名
            dataset4.shift();

            dataLoaded = true;
            {#console.log(dataset);#}
            {#console.log(dataset1);#}
            {#console.log(dataset2);#}
            {#console.log(dataset3);#}
            {#console.log(dataset4);#}


            datas = dataset.concat(dataset1);
            dataset = null;
            dataset1 = null;
            datas = datas.concat(dataset2);
            dataset2 = null;
            datas = datas.concat(dataset3);
            dataset3 = null;
            datas = datas.concat(dataset4);
            dataset4 = null;

            datas.sort(function (a, b) {
                if (!a || !b || !a[4] || !b[4]) {
                    return 0;  // 如果 a 或 b 是 null 或 undefined，或者 a[4] 或 b[4] 是 null 或 undefined，那么它们被认为是相等的
                }
                return new Date(a[4]) - new Date(b[4]);
            });
            {#console.log(datas);#}
            callback();
        } catch (error) {
            console.error('Error:', error);
        }
    }

    // 在页面打开时加载数据集,因为卡顿影响性能,暂时注释了
    window.onload = function () {
        //loadDataset(function () {
        //    loadTime();
        //});
        loadTime();
    };

    // 定义一个函数，用于处理加载 GeoJSON 文件时可能出现的错误
    function handleError(error) {
        console.error('Error loading GeoJSON file:', error);
    }

    // 定义一个数组，其中包含了所有需要加载的 GeoJSON 文件的文件名和地图名
    const files = [
        {filename: 'boundaryroad10.geojson', mapName: 'boundaryroadMap'},
        {filename: 'stoplineroad10.geojson', mapName: 'stoplineroad10'},
        {filename: 'crosswalkroad10.geojson', mapName: 'crosswalkroad10'},
        {filename: 'laneroad10.geojson', mapName: 'laneroad10'},
        {filename: 'signalroad10.geojson', mapName: 'signalload10'}
    ];

    function updateData() {

        // 获取需要绘制的数据
        const data = getDatasetByTimeRange(currentTimeRange);
        {#console.log(currentTimeRange.start)#}
        {#console.log(currentTimeRange.end)#}
        {#console.log(data)#}

        // 将数据转换为 ECharts 需要的格式
        const seriesData = data.map(function (row) {
            // 解析第五列的坐标数据
            {#console.log(row)#}
            {#let coordinates = JSON.parse(row[4]);#}
            {#console.log(coordinates)#}
            {#let coordinates = row[4].split(/[:,]/)#}

            {#console.log(coordinates)#}
            {#console.log(coordinates.x)#}
            var simpleSize = zoom;
            var color = 'white';
            switch (row[3]) {
                case '1':
                    simpleSize = 5 * zoom;
                    color = 'red';
                    break;
                case '2':
                    simpleSize = 4 * zoom;
                    color = 'blue';
                    break;
                case '3':
                    simpleSize = 4 * zoom;
                    color = 'green';
                    break;
                case '4':
                    simpleSize = 6 * zoom;
                    color = 'yellow';
                    break;
                case '5':
                    simpleSize = 6 * zoom;
                    color = 'purple';
                    break;
                case '6':
                    simpleSize = 6 * zoom;
                    color = 'orange';
                    break;
            }
            // 返回 ECharts 需要的数据格式
            return {
                value: [(parseFloat(row[5]) + 40) * zoom, (parseFloat(row[6]) + 80) * zoom],
                type: row[3],
                velocity: row[2],
                symbolSize: simpleSize,
                itemStyle: {
                    color: color
                }
            };
        });
        {#console.log(seriesData)#}


        // 使用 setOption 方法更新图表
        let option = myChart.getOption();
        if (option.series.length <= 3) {

// 添加新的数据点
            option.series.push({
                data: seriesData,
                center: center,
                zoom: zoom, // 设置地图缩放级别
                type: 'scatter',
                coordinateSystem: 'cartesian2d',  // 使用笛卡尔坐标系
                {#symbolSize: 6 * zoom,#}

                roam: 'scale'
            });
        } else {

// 添加新的数据点
            option.series[3] = {
                data: seriesData,
                center: center,
                zoom: zoom, // 设置地图缩放级别
                type: 'scatter',
                coordinateSystem: 'cartesian2d',  // 使用笛卡尔坐标系

                roam: 'scale'
            };
        }
        myChart.setOption(option);

        // 更新当前的时间范围，假设每次增加1秒
        currentTimeRange.start.setMilliseconds(currentTimeRange.start.getMilliseconds() + 1000);
        currentTimeRange.end.setMilliseconds(currentTimeRange.end.getMilliseconds() + 1000);


    }

    // 定时器，每1ms更新一次数据
    //intervalId = setInterval(function () {
    //    if (pause)
    //        return;
    //    updateData();
    //}, 1000);
    // 使用 reduce 方法来串联所有的 Promise，这样就可以按顺序加载所有的 GeoJSON 文件
    files.reduce((promise, file) => {
        return promise
            .then(() => loadGeoJsonAndRegisterMap(file.filename, file.mapName))
            .catch(handleError);
    }, Promise.resolve())
        .then(() => {
            // 当所有的 GeoJSON 文件都加载完成后，设置 ECharts 的配置
            var option = {
                xAxis: {
                    type: 'value',  // 数值轴
                    name: 'X Axis',  // X轴名称
                    min: -250,  // 最小值
                    max: 250,  // 最大值
                    splitNumber: 50000  // 分割段数
                },
                yAxis: {
                    type: 'value',  // 类目轴
                    name: 'Y Axis',  // Y轴名称
                    min: -250,  // 最小值
                    max: 250,  // 最大值
                    splitNumber: 50000  // 分割段数
                },
                timeline: {
                    axisType: 'category',
                    data: [2021, 2022, 2023, 2024, 2025], // 时间轴上的年份
                    currentIndex: 0, // 初始年份索引
                    //autoPlay: true, // 自动播放
                    playInterval: 1000, // 自动播放间隔时间（毫秒）
                    loop: true, // 循环播放
                    //show:false

                },

                series: [
                    {
                        type: 'scatter',
                        data: [0,0],
                            emphasis: {
                                itemStyle: {
                                    color: 'rgba(255, 0, 0, 0.5)'
                                }
                            }
                        },
                    {
                        scaleLimit: {
                            min: 1,  // 最小缩放倍数
                            max: 10   // 最大缩放倍数
                        },
                        center: center,
                        zoom: zoom, // 设置地图缩放级别
                        type: 'map',  // 地图类型为线图
                        coordinateSystem: 'cartesian2d',  // 使用地理坐标系
                        map: 'boundaryroadMap',
                        name: 'stopline',  // 设置系列名称，用于区分
                        roam: 'scale',  // 启用地图的拖动功能
                        itemStyle: {
                            borderColor: 'white', // 设置地图边界的颜色为白色
                            borderWidth: 3,
                            emphasis: {
                                // 高亮时的样式
                                borderWidth: 1,
                                borderColor: 'yellow'
                            }
                        }
                    },
                    {
                        scaleLimit: {
                            min: 1.75 / 3,  // 最小缩放倍数
                            max: 17.5 / 3   // 最大缩放倍数
                        },
                        zoom: 1.75 / 3 * zoom, // 设置地图缩放级别
                        center: center,
                        type: 'map',  // 地图类型为线图
                        coordinateSystem: 'cartesian2d',  // 使用地理坐标系
                        map: 'stoplineroad10',
                        name: 'stopline',  // 设置系列名称，用于区分
                        roam: 'scale',  // 启用地图的拖动功能
                        itemStyle: {
                            borderColor: 'white', // 设置地图边界的颜色为白色
                            borderWidth: 3,
                            emphasis: {
                                // 高亮时的样式
                                borderWidth: 1,
                                borderColor: 'yellow'
                            }
                        }
                    },
                    {
                        scaleLimit: {
                            min: 1.75 / 3,  // 最小缩放倍数
                            max: 17.5 / 3   // 最大缩放倍数
                        },
                        zoom: 1.75 / 3 * zoom, // 设置地图缩放级别
                        center: center,

                        type: 'map',  // 地图类型为线图
                        coordinateSystem: 'cartesian2d',  // 使用地理坐标系
                        map: 'crosswalkroad10',
                        name: 'stopline',  // 设置系列名称，用于区分
                        roam: 'scale',  // 启用地图的拖动功能
                        itemStyle: {
                            borderColor: 'white', // 设置地图边界的颜色为白色
                            borderWidth: 3,
                            emphasis: {
                                // 高亮时的样式
                                borderWidth: 1,
                                borderColor: 'yellow'
                            }
                        }
                    }

                ],
                options: [
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                ]
            }
            myChart.setOption(option);
            console.log(option);
            console.log(myChart.getOption());
            myChart.on('geoRoam', {geoIndex: 0}, function (params) {
                // 获取当前地图的缩放级别和中心坐标
                var zoomn = params.zoom;

                zoom = zoom * zoomn

// 获取当前的 option
                let option = myChart.getOption();

// 更新 center 的值
                option.series.forEach(function (series) {
                    if (series.map === 'stoplineroad10' || series.map === 'crosswalkroad10') {
                        series.zoom = 1.75 / 3 * zoom;
                    } else {
                        series.zoom = zoom;
                    }
                });

// 使用 setOption 方法更新图表
                myChart.setOption(option);

            });
            myChart.on('timelinechanged', function (params) {
                if (params.currentIndex === 0) {
                    
                    var option = myChart.getOption();
                    {#console.log('old')#}
                    {#console.log(option)#}
                    option.options = [
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                    {
                        series: [
                            {
                                type: 'scatter',
                                data: getData(),
                            },
                        ]
                    },
                ]
                    {#console.log('new')#}
                    {#console.log(option)#}
                    myChart.setOption(option);
                }
                {#console.log(params.currentIndex)#}
            });
            myChart.on('click', function (params) {
                console.log(params);
            });
        })
</script>
<script>
    loadTime()
    function loadTime() {
        if (dataLoaded) {
            // 1. 初始化ECharts实例
            var chartTime = echarts.init(document.getElementById('chart-time'));
            var hourlyData
            fetch('time/get_timedata/').then(response => response.json()).then(
                data => {
                    console.log(data)
                    hourlyData = data
                    var option = {
                        dataZoom: [
                            {
                                type: 'slider', // 使用滑动条形式的数据缩放组件
                                xAxisIndex: 0,
                                startValue: 0,
                                endValue: 23, // 设置初始范围为0-23小时
                                bottom: 0 // 设置组件位置
                            }
                        ],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                crossStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        legend: {
                            data: ['Type 1', 'Type 2', 'Type 3', 'Type 4', 'Type 5', 'Type 6']
                        },
                        xAxis: {
                            type: 'category',
                            data: Array.from({length: 24}, (_, i) => `${i}:00`),
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '小型汽车',
                                type: 'line',
                                stack: 'vehicle',
                                areaStyle: {},
                                data: hourlyData.map(row => row[0])
                            },
                            {
                                name: '行人',
                                type: 'line',
                                stack: 'vehicle',
                                areaStyle: {},
                                data: hourlyData.map(row => row[1])
                            },
                            {
                                name: '非机动车',
                                type: 'line',
                                stack: 'vehicle',
                                areaStyle: {},
                                data: hourlyData.map(row => row[2])
                            },
                            {
                                name: '卡车',
                                type: 'line',
                                stack: 'vehicle',
                                areaStyle: {},
                                data: hourlyData.map(row => row[3])
                            },
                            {
                                name: '面包车',
                                type: 'line',
                                stack: 'vehicle',
                                areaStyle: {},
                                data: hourlyData.map(row => row[4])
                            },
                            {
                                name: '客车',
                                type: 'line',
                                stack: 'vehicle',
                                areaStyle: {},
                                data: hourlyData.map(row => row[5])
                            }
                        ]
                    };
                                chartTime.setOption(option);
                }
            )
            // 2. 准备数据
            // 3. 设置ECharts的选项
            var xAxisData = Array.from({length: 24}, (_, i) => `${i}:00`);
            chartTime.on('datazoom', function (params) {
                var startIndex = Math.floor(params.start / 100 * (xAxisData.length - 1));
                var endIndex = Math.floor(params.end / 100 * (xAxisData.length - 1));
                var startHour = parseInt(xAxisData[startIndex].split(':')[0]);
                var endHour = parseInt(xAxisData[endIndex].split(':')[0]);
                console.log('当前选择的时间范围:', `${startHour}:00 - ${endHour}:00`);
                currentTimeRange.start = new Date((startHour * 3600) + startdate.getTime()),
                    currentTimeRange.end = new Date((endHour * 3600) + startdate.getTime()),
                    console.log(currentTimeRange.start)
                clearInterval(intervalId);
                intervalId = setInterval(function () {
                    updateData();
                }, 1000);
                // 在此处执行您需要的其他操作
            });

        }
    }

</script>
</body>
</html>
