<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Highlight Effect</title>
    <!-- 引入 ECharts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <style>
        /* 设置容器的高度 */
        #chart-container {
            width: 4000px;
            height: 4000px;
        }
    </style>
</head>
<body>
<!-- 创建一个容器来放置图表 -->
<div id="chart-container"></div>
<script>
    // 使用 fetch API 读取 GeoJSON 文件
    const myChart = echarts.init(document.getElementById('chart-container'),'dark');

    // 加载 boundaryroad10.geojson 文件
    fetch('map/boundaryroad10.geojson')
        .then(response => response.json())
        .then(geojsonData => {
            // 将 GeoJSON 数据直接绘制在地图上
            echarts.registerMap('boundaryroadMap', geojsonData);

            // 加载 stoplineroad10.geojson 文件
            fetch('map/stoplineroad10.geojson')
                .then(response => response.json())
                .then(geojsonData => {
                    // 将 GeoJSON 数据直接绘制在地图上
                    echarts.registerMap('stoplineroad10', geojsonData);
                    fetch('map/crosswalkroad10.geojson')
                    .then(response => response.json())
                    .then(geojsonData => {
                        // 将 GeoJSON 数据直接绘制在地图上
                        echarts.registerMap('crosswalkroad10', geojsonData);

                        fetch('map/laneroad10.geojson')
                        .then(response => response.json())
                        .then(geojsonData => {
                            // 将 GeoJSON 数据直接绘制在地图上
                            echarts.registerMap('laneroad10', geojsonData);

                            fetch('map/signalroad10.geojson')
                            .then(response => response.json())
                            .then(geojsonData => {
                                // 将 GeoJSON 数据直接绘制在地图上
                                echarts.registerMap('signalload10', geojsonData);
                                var zoom=3

                                myChart.setOption({
                                    toolbox: {
                                        feature: {
                                            // 放大和缩小按钮
                                            dataZoom: {},
                                            // 其他工具箱功能...
                                        }
                                    },
                                    xAxis: [{
                                        type: "value",
                                        name:'x'
                                      }],
                                      yAxis: [{
                                        type: "value",
                                        name:'y'
                                      }],
                                    grid: {
                                        show: true
                                      },
                                    borderColor: 'white', // 设置地图边界的颜色为白色
                                    series: [
                                    {
                                        type: 'scatter',
                                        symbolSize: 20, // 设置中心点的大小
                                        itemStyle: {
                                            color: 'red' // 设置中心点的颜色
                                        },
                                        data: [[180, 180],[90,90]] // 中心点的坐标
                                    },
                                   
                                    {
                                         center:[-70,-110],
                                        zoom: zoom, // 设置地图缩放级别
                                        type: 'map',  // 地图类型为线图
                                        coordinateSystem: 'geo',  // 使用地理坐标系
                                        map: 'boundaryroadMap',
                                        name: 'stopline',  // 设置系列名称，用于区分
                                        itemStyle: {
                                            borderColor: 'white', // 设置地图边界的颜色为白色
                                            emphasis: {
                                                // 高亮时的样式
                                                borderWidth: 1,
                                                borderColor: 'yellow'
                                            }
                                        }
                                    },
                                    {
                                        zoom: 1.75, // 设置地图缩放级别
                                        center:[-70,-110],
                                        type: 'map',  // 地图类型为线图
                                        coordinateSystem: 'geo',  // 使用地理坐标系
                                        map: 'stoplineroad10',
                                        name: 'stopline',  // 设置系列名称，用于区分
                                        itemStyle: {
                                            borderColor: 'white', // 设置地图边界的颜色为白色
                                            emphasis: {
                                                // 高亮时的样式
                                                borderWidth: 1,
                                                borderColor: 'yellow'
                                            }
                                        }
                                    },
                                    {
                                        zoom: 1.75, // 设置地图缩放级别
                                       center:[-70,-110],
                                      
                                        type: 'map',  // 地图类型为线图
                                        coordinateSystem: 'geo',  // 使用地理坐标系
                                        map: 'crosswalkroad10',
                                        name: 'stopline',  // 设置系列名称，用于区分
                                        itemStyle: {
                                            borderColor: 'white', // 设置地图边界的颜色为白色
                                            emphasis: {
                                                // 高亮时的样式
                                                borderWidth: 1,
                                                borderColor: 'yellow'
                                            }
                                        }
                                    },
                                    {
                                        zoom: zoom, // 设置地图缩放级别
                                        center:[-70,-110],
                                        type: 'map',  // 地图类型为线图
                                        coordinateSystem: 'geo',  // 使用地理坐标系
                                        map: 'laneroad10',
                                        name: 'stopline',  // 设置系列名称，用于区分
                                        itemStyle: {
                                            borderColor: 'white', // 设置地图边界的颜色为白色
                                            emphasis: {
                                                // 高亮时的样式
                                                borderWidth: 1,
                                                borderColor: 'yellow'
                                            }
                                        }
                                    },
                                    {
                                        zoom: 0.5, // 设置地图缩放级别
                                        type: 'map',  // 地图类型为线图
                                        coordinateSystem: 'geo',  // 使用地理坐标系
                                        map: 'signalload10',
                                        name: 'stopline',  // 设置系列名称，用于区分
                                        itemStyle: {
                                            borderColor: 'white', // 设置地图边界的颜色为白色
                                            emphasis: {
                                                // 高亮时的样式
                                                borderWidth: 1,
                                                borderColor: 'red'
                                            }
                                        }
                                    }
                                    ]
                                });
                            
                            })
                            .catch(error => {
                                console.error('Error loading stoplineroad GeoJSON file:', error);
                            });
                        
                        })
                        .catch(error => {
                            console.error('Error loading stoplineroad GeoJSON file:', error);
                        });
                    
                    })
                    .catch(error => {
                        console.error('Error loading stoplineroad GeoJSON file:', error);
                    });
                
                })
                .catch(error => {
                    console.error('Error loading stoplineroad GeoJSON file:', error);
                });
        })
        .catch(error => {
            console.error('Error loading boundaryroad GeoJSON file:', error);
        });
</script>
</body>
</html>
