<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Highlight Effect</title>
    <!-- 引入 ECharts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <style>
        /* 设置容器的高度 */
        #chart-container {
            width: 780px;
            height: 780px;
        }

        #chart-time {
            width: 780px;
            height: 780px;
        }
    </style>
</head>
<body>
<!-- 创建一个容器来放置图表 -->
<div style="display: flex">
    {#    地图可视化#}
    <div id="chart-container"></div>
    {#    时间轴#}
    <div id="chart-time"></div>
</div>
<script>
    {#import ms from "./wrapper-b7460963-69b64cfb";#}

    var zoom = 2
    var center = [-40, -80]
    var currentTimeRange = {start: new Date("2023-04-12 15:59:57.100"), end: new Date("2023-04-12 15:59:58.100")};
    var dataLoaded = false;

    // 使用 fetch API 读取 GeoJSON 文件
    const myChart = echarts.init(document.getElementById('chart-container'), 'dark');

    // 定义一个函数，用于加载 GeoJSON 文件并将其注册到 ECharts 中
    function loadGeoJsonAndRegisterMap(filename, mapName) {
        return fetch(`map/${filename}`)
            .then(response => response.json())
            .then(geojsonData => {
                // 将 GeoJSON 数据直接绘制在地图上
                echarts.registerMap(mapName, geojsonData);
            });
    }

    let dataset = [];
    // 定义一个函数,根据输入的时间范围,输出dataset的子集,时间的格式为2023-04-12 15:59:57.699749
    // 输入的时间范围要是js的Date对象
    function getDatasetByTimeRange(startTime, endTime) {
        let result = [];
        for (let row of dataset) {
            let time = new Date(row[4]);
            if (time >= startTime && time <= endTime) {
                result.push(row);
            } else if (time > endTime) {
                break;
            }
        }
        return result;
    }

    // 定义一个函数,用于加载dataset文件
    function loadDataset(callback) {
        return fetch(`output0.csv`)
            .then(response => response.text())
            .then(data => {
                // 将CSV数据转换为数组
                let regex = /(".*?"|[^,]+)(?=,|$)/g;
                let rows = data.split('\n');
                for (let row of rows) {
                    let fields = row.match(regex);
                    // 去掉字段的双引号
                    {#fields = fields.map(field => field.startsWith('"') && field.endsWith('"') ? field.slice(1, -1) : field);#}
                    // 将第五列转换为 JSON 对象
                    {#fields[4] = JSON.parse(fields[4].slice(1, -1).slice(1, -1));#}
                    dataset.push(fields);
                }
                // 删除第一行,因为第一行是列名
                dataset.shift();
                dataLoaded = true;
                console.log(dataset)
                callback();
            })
            .catch(error => console.error('Error:', error));
    }

    // 在页面打开时加载数据集,因为卡顿影响性能,暂时注释了
    window.onload = function () {
        loadDataset(function(){
            loadTime();

        });
    };

    // 定义一个函数，用于处理加载 GeoJSON 文件时可能出现的错误
    function handleError(error) {
        console.error('Error loading GeoJSON file:', error);
    }

    // 定义一个数组，其中包含了所有需要加载的 GeoJSON 文件的文件名和地图名
    const files = [
        {filename: 'boundaryroad10.geojson', mapName: 'boundaryroadMap'},
        {filename: 'stoplineroad10.geojson', mapName: 'stoplineroad10'},
        {filename: 'crosswalkroad10.geojson', mapName: 'crosswalkroad10'},
        {filename: 'laneroad10.geojson', mapName: 'laneroad10'},
        {filename: 'signalroad10.geojson', mapName: 'signalload10'}
    ];

    function updateData() {

        if (!dataLoaded) {
            return;
        }
        // 获取需要绘制的数据
        const data = getDatasetByTimeRange(currentTimeRange.start, currentTimeRange.end);
        {#console.log(currentTimeRange.start)#}
        {#console.log(currentTimeRange.end)#}
        {#console.log(data)#}

        // 将数据转换为 ECharts 需要的格式
        const seriesData = data.map(function (row) {
            // 解析第五列的坐标数据
            {#console.log(row)#}
            {#let coordinates = JSON.parse(row[4]);#}
            {#console.log(coordinates)#}
            {#let coordinates = row[4].split(/[:,]/)#}

            {#console.log(coordinates)#}
            {#console.log(coordinates.x)#}
            var simpleSize = zoom;
            var color = 'white';
            switch(row[3]) {
                case '1':
                    simpleSize = 5 * zoom;
                    color = 'red';
                    break;
                case '2':
                    simpleSize = 4 * zoom;
                    color = 'blue';
                    break;
                case '3':
                    simpleSize = 4 * zoom;
                    color = 'green';
                    break;
                case '4':
                    simpleSize = 6 * zoom;
                    color = 'yellow';
                    break;
                case '5':
                    simpleSize = 6 * zoom;
                    color = 'purple';
                    break;
                case '6':
                    simpleSize = 6 * zoom;
                    color = 'orange';
                    break;
            }
            // 返回 ECharts 需要的数据格式
            return {
                value: [(parseFloat(row[5]) + 40) * zoom, (parseFloat(row[6]) + 80) * zoom],
                type: row[3],
                velocity: row[2],
                symbolSize: simpleSize,
                itemStyle: {
                    color: color
                }
            };
        });
        {#console.log(seriesData)#}


        // 使用 setOption 方法更新图表
        let option = myChart.getOption();
        if (option.series.length <= 3) {

// 添加新的数据点
            option.series.push({
                data: seriesData,
                center: center,
                zoom: zoom, // 设置地图缩放级别
                type: 'scatter',
                coordinateSystem: 'cartesian2d',  // 使用笛卡尔坐标系
                {#symbolSize: 6 * zoom,#}
                
                roam: 'scale'
            });
        } else {

// 添加新的数据点
            option.series[3] = {
                data: seriesData,
                center: center,
                zoom: zoom, // 设置地图缩放级别
                type: 'scatter',
                coordinateSystem: 'cartesian2d',  // 使用笛卡尔坐标系
                
                roam: 'scale'
            };
        }
        myChart.setOption(option);

        // 更新当前的时间范围，假设每次增加1秒
        currentTimeRange.start.setSeconds(currentTimeRange.start.getSeconds() + 1);
        currentTimeRange.end.setSeconds(currentTimeRange.end.getSeconds() + 1);


    }

    // 定时器，每1ms更新一次数据
    setInterval(function () {
        updateData();
    }, 1000);
    // 使用 reduce 方法来串联所有的 Promise，这样就可以按顺序加载所有的 GeoJSON 文件
    files.reduce((promise, file) => {
        return promise
            .then(() => loadGeoJsonAndRegisterMap(file.filename, file.mapName))
            .catch(handleError);
    }, Promise.resolve())
        .then(() => {

            // 当所有的 GeoJSON 文件都加载完成后，设置 ECharts 的配置
            myChart.setOption({
                xAxis: {
                    type: 'value',  // 数值轴
                    name: 'X Axis',  // X轴名称
                    min: -250,  // 最小值
                    max: 250,  // 最大值
                    splitNumber: 50000  // 分割段数
                },
                yAxis: {
                    type: 'value',  // 类目轴
                    name: 'Y Axis',  // Y轴名称
                    min: -250,  // 最小值
                    max: 250,  // 最大值
                    splitNumber: 50000  // 分割段数
                },

                series: [
                    {
                        scaleLimit: {
                            min: 1,  // 最小缩放倍数
                            max: 10   // 最大缩放倍数
                        },
                        center: center,
                        zoom: zoom, // 设置地图缩放级别
                        type: 'map',  // 地图类型为线图
                        coordinateSystem: 'cartesian2d',  // 使用地理坐标系
                        map: 'boundaryroadMap',
                        name: 'stopline',  // 设置系列名称，用于区分
                        roam: 'scale',  // 启用地图的拖动功能
                        itemStyle: {
                            borderColor: 'white', // 设置地图边界的颜色为白色
                            borderWidth: 3,
                            emphasis: {
                                // 高亮时的样式
                                borderWidth: 1,
                                borderColor: 'yellow'
                            }
                        }
                    },
                    {
                        scaleLimit: {
                            min: 1.75 / 3,  // 最小缩放倍数
                            max: 17.5 / 3   // 最大缩放倍数
                        },
                        zoom: 1.75 / 3 * zoom, // 设置地图缩放级别
                        center: center,
                        type: 'map',  // 地图类型为线图
                        coordinateSystem: 'cartesian2d',  // 使用地理坐标系
                        map: 'stoplineroad10',
                        name: 'stopline',  // 设置系列名称，用于区分
                        roam: 'scale',  // 启用地图的拖动功能
                        itemStyle: {
                            borderColor: 'white', // 设置地图边界的颜色为白色
                            borderWidth: 3,
                            emphasis: {
                                // 高亮时的样式
                                borderWidth: 1,
                                borderColor: 'yellow'
                            }
                        }
                    },
                    {
                        scaleLimit: {
                            min: 1.75 / 3,  // 最小缩放倍数
                            max: 17.5 / 3   // 最大缩放倍数
                        },
                        zoom: 1.75 / 3 * zoom, // 设置地图缩放级别
                        center: center,

                        type: 'map',  // 地图类型为线图
                        coordinateSystem: 'cartesian2d',  // 使用地理坐标系
                        map: 'crosswalkroad10',
                        name: 'stopline',  // 设置系列名称，用于区分
                        roam: 'scale',  // 启用地图的拖动功能
                        itemStyle: {
                            borderColor: 'white', // 设置地图边界的颜色为白色
                            borderWidth: 3,
                            emphasis: {
                                // 高亮时的样式
                                borderWidth: 1,
                                borderColor: 'yellow'
                            }
                        }
                    }

                ]
            });
            myChart.on('geoRoam', {geoIndex: 0}, function (params) {
                // 获取当前地图的缩放级别和中心坐标
                var zoomn = params.zoom;

                zoom = zoom * zoomn

// 获取当前的 option
                let option = myChart.getOption();

// 更新 center 的值
                option.series.forEach(function (series) {
                    if (series.map === 'stoplineroad10' || series.map === 'crosswalkroad10') {
                        series.zoom = 1.75 / 3 * zoom;
                    } else {
                        series.zoom = zoom;
                    }
                });

// 使用 setOption 方法更新图表
                myChart.setOption(option);

            });
        })
</script>
<script>
    function loadTime(){
    if(dataLoaded){
        
    // 1. 初始化ECharts实例
    var chartTime = echarts.init(document.getElementById('chart-time'));

    // 2. 准备数据

    // 将数据集转换为ECharts可以接受的格式
    var dates = [0, 0, 0, 0, 0, 0];
    var data = [[], [], [], [], [], []]
    var date = new Date("2023-04-12 15:59:56.699682");
    var startdate = new Date("2023-04-12 15:59:56.699682");
    dataset.forEach(function (item) {
        {#console.log(item)#}
        if (!item || item[3] < 1 || item[3] > 6) {
            return;
        }
        var dat = new Date(item[4]); // 时间
        if (dat <= date) {
            dates[item[3] - 1]++;
        } else {
        var x = (dat.getTime() - startdate.getTime()) / 1000; // 将时间转换为秒数作为x坐标
            data[item[3] - 1].push([x, dates[item[3] - 1]])
            dates[item[3] - 1] = 0;
            date.setSeconds(date.getSeconds() + 1);
        }
    });

    // 3. 设置ECharts的选项
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        xAxis: {
            type: 'value',
            min: 0,  // 设置横轴的最小值为0
            max: 86400,  // 设置横轴的最大值为86400
            splitNumber: 86400,  // 设置分割的份数为86400
            axisLabel: {
                formatter: function (value) {
                    // 将秒数转换为24小时制的时间格式
                    var hours = Math.floor(value / 3600);
                    var minutes = Math.floor((value % 3600) / 60);
                    var seconds = value % 60;
                    return `${hours}:${minutes}:${seconds}`;
                }
            },
            splitLine: {
                show: false
            },
            boundaryGap: false
        },
        yAxis: {
            type: 'value'
        },
        series: [
            
        ]
    };

    // 添加系列数据
    for (var type=1;type<=6;type++) {
        option.series.push({
            name: 'Type ' + type,
            type: 'line',
            stack: 'x',
            areaStyle: {},
            emphasis: {
                focus: 'series'
            },
            data: data[type]
        });
    }

    // 使用setOption方法将选项应用到图表上
    chartTime.setOption(option);
    }
    }
</script>
</body>
</html>